<form class="form" [formGroup]="addRecipeForm">
  <h2>Create your own culinary masterpiece!</h2>
  <h4 *ngIf="fatherId" class="purple">{{ parentRecipeText }}</h4>
  <hr/>
  <div class="form-group">
      <label>Title:</label>
      <input class="form-control" name="title" formControlName="title" />
  </div>
  <div class="form-group">
    <div class="center">
        <button class="btn btn-default" (click)="addIngredient()">Add ingredient</button>
    </div>
    <ul>
        <app-ingredient-item 
        *ngFor="let ingredient of ingredients"
        [ingredient]="ingredient"
        [type]="'edit'"
        (deleteIngredientEvent)="deleteIngredient($event)"></app-ingredient-item>
    </ul>
  </div>
  <div class="form-group">
      <label>Some words about your recipe:</label>
      <input class="form-control" name="shortDescription" formControlName="shortDescription" />
  </div>
  <div class="form-group">
      <label>Full description:</label>
      <input class="form-control" name="description" formControlName="description" />
  </div>
  <div class="form-group center">
      <button class="btn btn-default" (click)="addRecipe()" [disabled]="addRecipeForm.invalid">
          Create!
      </button>
  </div>
</form>